#main{
	background-color: #FFFCF0 !important;
}
#top-menu{
	background-color: #FFFCF0;
}
.single-mind{
	background: #FFFCF0;
}
.second-mind{
	background-color: rgb(34,34,34);
	margin: 0;
	height: 100%;
}
body{
	color: rgb(186,186,186);
}
h2{
	color: rgb(147,1,-0);
}
.photo{
	width: 600px;
}
.top-bar-section li:not(.has-form) a:not(.button){
	background: #FFFCF0;
	color: rgb(147,1,-0);
}
.top-bar-section li.active:not(.has-form) a:not(.button){
	background: rgb(147,1,-0);
}
#logo{
	margin-top: 2em;
}
#top-blank{
	height: 2em;
}
#bottom-blank{
	height: 17em;
}
p{
	font-size: .7em;
}
